# Ignore node_modules
node_modules/

# Ignore environment variable files


# Ignore log files
*.log

# Ignore the build directory
dist/
build/

# Ignore OS or Editor specific files
.DS_Store
.idea/
.vscode/
